/* 初始颜色 */
.country {
  fill: #cfcfcf;
  stroke: #666;
  stroke-width: 0.5;
  transition: fill 0.3s ease;
  cursor: pointer;
}

/* 鼠标悬停变色 */
.country:hover {
  fill: #f67280;
}

/* 去过的国家，手动加 class="visited" 即可 */
.country.visited {
  fill: #355c7d;
}
